{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block page_title %}{% translate "Log In" %}{% endblock %}
{% block content %}
<div class="container-xxl py-6">
    <div class="container">
        <form method="post">
            <div class="row g-3"></div>
                {% csrf_token %}
                {{form.as_div}}
                <button class="btn btn-primary rounded-pill py-3 px-5" type="submit">{% translate "Log In" %}</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}